.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.leftTextAlign {
    text-align: left;
}

.App-link {
    color: #09d3ac;
}

/* LOGIN PAGE */
.login-form, .signUp {
    width: 300px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form-withoutNewLineAndWidth {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    text-align: right;
}

.login-form-withoutNewLine {
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    display: inline-block;
    text-align: right;
}

.login-form-withoutNewLineTop {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    vertical-align: top;
}

.red-background {
    background: red;
}

.signUp div {
    text-align: center;
    color: #3366ff;
    font-size: 14px;
    padding: 6px 0 6px 0;
}

.login-form input[type="username"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 9px;
    background-color: #000000;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.login-form, .signUp {
    width: 300px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

.signUp h1 {
    text-align: center;
    color: #3366ff;
    font-size: 24px;
    padding: 8px 0 8px 0;
}

/* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
.grid-container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
    /* grid-template-columns: auto auto; */
    background-color: #f3f3f3;
    padding: 8px;
}


.set-value-item-form {
    font-family: 'Quicksand', sans-serif;
    align-content: center;

}

.set-value-item-text {
    width: 60%;
    font-size: 22px;
    padding: 2px;
    font-family: 'Quicksand', sans-serif;

}

.set-value-item-btn {
    width: 26%;
    font-size: 22px;
    padding: 2px;
    font-family: 'Quicksand', sans-serif;
}

.set-value-item-cancel {
    width: 6%;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 5px;
    padding: 2px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 6px;
    color: black;
    /*background-color: dodgerblue;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    text-align: center;
}

.leftColumn {
    width: 10%;
    float: left;
    text-align: center;
}

.leftColumnBigger {
    width: 90%;
    float: left;
    text-align: center;
}

.rightColumn {
    width: 80%;
    float: right;
}

.rightColumn2 {
    width: 10%;
    float: right;
}

.red-font {
    color: red;
}

.oneColumn {
    width: 100%;
    float: left;
    text-align: center;
}

.withoutNewLine {
    display: inline-block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.margin {
    padding: 2px;
}

.green {
    color: #00ff16;
}

.red {
    color: #ff2527;
}

.connectionStatusFooter {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    height:20px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}