// import bootstrap
@import "~bootstrap/scss/bootstrap";

.btn-flat {
    background-color: #000000;
    color: white;
}

.btn-dark {
    width: 98%;
    font-size: 18px;
}

.btn-outline-primary{
    width: 98%;
    font-size: 22px;
    background-color: #def1ff;
}

.centerIt{
    text-align: center;
}

.smallSpace{
    height: 8px;
}

.btn-outline-secondary {
    width: 49%;
    height: 35px;
}

.input-group-prepend {
    width : 30%; /*adjust as needed*/
    overflow: hidden;
}

.input-group-prepend text {
    width: 100%;

}



// canvas
.canvasjs-chart-canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

canvasjs-chart-credit {
    color: red;
}

// app

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.leftTextAlign {
    text-align: left;
    font-weight: bold;
}

.App-link {
    color: #09d3ac;
}

/* LOGIN PAGE */
.login-form, .signUp {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form-withoutNewLineAndWidth {
    display: inline-block;
    text-align: right;

}

.login-form-withoutNewLine {
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    display: inline-block;
    text-align: right;
}

.login-form-withoutNewLineTop {
    display: inline-block;
    vertical-align: top;
}

.red-background {
    background: red;
}

.signUp div {
    text-align: center;
    color: #3366ff;
    font-size: 14px;
    padding: 6px 0 6px 0;
}

.login-form input[type="username"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 9px;
    background-color: #000000;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.login-form, .signUp {
    width: 300px;
    margin: 5px auto;
}

.signUp h1 {
    text-align: center;
    color: #3366ff;
    font-size: 24px;
    padding: 8px 0 8px 0;
}

/* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
.grid-container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
    /* grid-template-columns: auto auto; */
    background-color: #f3f3f3;
    padding: 8px;
}


.set-value-item-form {
    align-content: center;

}

.set-value-item-text {
    width: 60%;
    font-size: 22px;
    padding: 2px;

}

.set-value-item-btn {
    width: 26%;
    font-size: 22px;
    padding: 2px;
}

.set-value-item-cancel {
    width: 6%;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 5px;
    padding: 2px;
    text-align: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 6px;

    /*background-color: dodgerblue;*/
    font-size: 28px;
    text-align: center;
}

.leftColumn {
    width: 10%;
    float: left;
    text-align: center;
    margin-right: 8px;
}

.leftColumnBigger {
    width: 90%;
    float: left;
    text-align: center;
}

.rightColumn {
    width: 80%;
    float: left;
}

.rightColumn2 {
    width: 10%;
    float: right;
}

.red-font {
    color: red;
}

.oneColumn {
    width: 100%;
    float: left;
    text-align: center;
}

.withoutNewLine {
    display: inline-block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.margin {
    padding: 2px;
}

.green {
    color: #00ff16;
}

.red {
    color: #ff2527;
}

// loader https://codepen.io/andreasstorm/pen/QZEKWr
// <!-- Credit: https://dribbble.com/shots/5092176-Newton-Loader -->
.connectionStatusFooter {
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    height:20px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

.connectionStatusFooterLeft {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    height:20px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
}


.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #fff;
    filter: contrast(20);
}
.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}
.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}
.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}
@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}
@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

// loader https://loading.io/css/
.center {

    top: 50%;
    left: 50%;


}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 25px;
}
.lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
